a {
  background-image: url(https://static.vecteezy.com/system/resources/previews/013/461/290/original/seamless-pattern-with-bone-and-paw-pattern-free-vector.jpg);
  border-style: solid;
  border-radius: 70px;
  margin-left: 400px;
  margin-inline-start: 200px;
  margin-right: 400px;
  margin-top: 100px;
  color: white;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  background-size: 225px;
  text-shadow: 1px 1px black;
  font-weight: bolder;
  word-spacing: 5px;
  text-decoration: none;
  position: fixed;
}
#one {
  position: absolute;
  z-index: -1;
  right: 22px;
  bottom: 30px;
}

a span {
}
