#wrapper{
    width: 800px;
    margin: 50px auto;
    border: 1px solid black;
}
#menu{
    display: flex;
    margin-bottom: 20px;
    background-color: #484848;
}
#menu a{
    margin: o 5px;
    color: white;
    text-decoration: none;
    padding: 15px;
    font: bold 14px arial;
}
#menu a:hover, #menu a.active{
    background-color: white;
    color: #484848;
}
#content h2{
    text-align: center;
    font-size: 30px;
}
span{
    color: blue;
    font-weight: bold;
}
#content p{
    text-align: justify;
    padding: 10px;
    font-size: larger;
}