h1{
    text-align: center;
    font-weight: normal;
}
#con1, #con2, #con3{
    border: 1px solid black;
    margin: 10px auto;
    width: 700px;
    margin-bottom: 22px;
}
a.more{
    display: flex;
    margin-bottom: 25px;
    justify-content: right;
    margin-right: 25px;
    text-decoration: none;
}
p{
    padding: 0 10px;
    text-align: justify;
}
h2 a{
    text-decoration: none;
    padding-left: 10px;
}
h2 a:hover{
    text-decoration: underline;
}
a.more:hover{
    text-decoration: underline;
}