#wrapper{
    width: 900px;
    margin: 0 auto;
    margin-bottom: 50px;
    border: 1px solid #FFB02E;
    margin-top: -10px;
}
#menu{
    display: flex;
    background-color: #FFB02E;
}
#menu a {
    text-decoration: none;
    color: white;
    padding: 15px;
    font-weight: bold;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
#content h2,h3{
    text-align: center;
    color: #ED760E;
    font-size: 150%;
}
#content p{
    text-align: justify;
    color: #CC5500;
    padding: 10px;
    font-size: 17px;
    text-indent: 50px;
    line-height: 2;
}
#content p span{
    color: #FF6800;
    text-decoration: underline;
    font-weight: bold;
}
#menu a:hover,#menu a.active{
    background-color: white;
    color: #FFB02E;
}
#end{
    display: flex;
  justify-content: center;
}
#end a{
    color: #ED760E;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
}
#end a:hover{
    color:black;
    text-decoration: underline;
}